<div data-id="{{ task.id }}" class="task">
    <input data-toggle="popover"
           type="checkbox"
           data-original-title="Mark task as"
           data-content="<a href='#' id='{{ task.id }}' class='status-done'>Done</a>"
           data-html="true"
           data-placement="left">
    <p class="inline">{{ task.name|e }}</p>
    <input class="form-control-sm hidden" type="text" data-target="input" placeholder="Update task...">
    <input class="form-control-sm hidden" type="text" data-target="picker{{ task.id }}" placeholder="Сhoose deadline...">
    <i class="fas fa-plus-square fa-lg hidden" data-entity="task"></i>
    <i class="fa fa-window-close fa-lg hidden"></i>
    <i class="fas fa-pencil-alt fa-lg"></i>
    <i class="fas fa-sort fa-lg"></i>
    <i class="fas fa-trash-alt fa-lg" data-entity="task"></i>
</div>