/* Common section */

* {
     /* border: 1px solid red; */
}

html, body {
    margin: 0;
    padding: 0;
}

#header input {
    display: inline;
    width: auto;
}

#header a {
    float: right;
}

#content {
    width: 60%;
    margin: 0 auto;
}

#content h2, #content h3 {
    text-align: center;
}

.inline {
    display: inline;
}

.text-centered {
    text-align: center;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
    text-decoration: line-through;
}

.hidden {
    display: none;
}

.fa-plus-square, .fa-window-close, .fa-pencil-alt, .fa-trash-alt {
    cursor: pointer;
}

.fa-pencil-alt, .fa-trash-alt {
    float: right;
}

.fa-calendar-alt, .fa-sort, .fa-trash-alt {
    margin: 0 20px;
}

input[data-toggle="popover"] {
    margin-right: 20px;
}

/* Project section */

.project {
    margin-bottom: 40px;
}

.project-name {
    padding: 15px 0;
    background-color: #416EAB;
    border: 1px solid #000000;
}

.project-name .fa-calendar-alt, .project-name p, .project-name .fa-plus-square, .project-name .fa-window-close, .project-name .fa-pencil-alt, .project-name .fa-trash-alt {
    color: #ffffff;
}

.project-name p, .task p {
    font-family: Verdana, serif;
    font-size: 20px;
}

/* Task section */

.task {
    padding: 15px 0;
    border: 1px solid #000000;
    margin-top: 2px;
}

.task-add {
    padding: 15px;
    background-color: #d1d1d1;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

.task-add .fa-plus {
    margin-right: 15px;
    color: #72A98B;
}

.task-add .input-group-text {
    cursor: pointer;
    background-color: #72A98B;
}

.task p, .task .fa-plus-square, .task .fa-window-close, .task .fa-pencil-alt, .task .fa-sort, .task .fa-trash-alt {
    color: #a5a5a0;
}