/* Common section */

* {
     border: 1px solid red;
}

html, body {
    margin: 0;
    padding: 0;
}

#header input {
    display: inline;
    width: auto;
}

#header a {
    float: right;
}

#content {
    width: 60%;
    margin: 0 auto;
    /* background-color: #D29113; */
}

#content h2, #content h3 {
    text-align: center;
}

#projects {
    width: 100%;
}

p.inner-text {
    display: inline;
}

div.button {
    text-align: center;
}

.project {
    margin-bottom: 40px;
    border: 1px solid #000000;
}

/* Project section */

.project-name {
    height: 70px;
    background-color: #416EAB;
}

.project-name div {

}

.project-name .fa-calendar-alt, .project-name .fa-pencil-alt, .project-name .fa-trash-alt, .project-name p {
    color: #FFFFFF;
}

.project-name .fa-pencil-alt, .project-name .fa-trash-alt {
    /* float: right; */
    cursor: pointer;
}

.project-name p {
    font-family: Verdana, serif;
    font-size: 20px;
}

/* Add task section */

.task-add .fa-plus {
    color: #72A98B;
    border-top: 1px solid #000000;
}

.task-add .btn-info {
    background-color: #72A98B;
}

.task-add input {
    width: 80%;
}

/* Task section */

.task-name {
    height: 50px;
    background-color: #FFFFFF;
    border-top: 1px solid #000000;
}

.task-name .fa-sort, .task-name .fa-pencil-alt, .task-name .fa-trash-alt, .task-name p {

}

.task-name .fa-sort, .task-name .fa-pencil-alt, .task-name .fa-trash-alt {
    /* float: right; */
    cursor: pointer;
    color: #A5A5A0;
}
