/* Common section */

* {
     /* border: 1px solid red; */
}

html, body {
    margin: 0;
    padding: 0;
}

#header input {
    display: inline;
    width: auto;
}

#header a {
    float: right;
}

#content {
    width: 60%;
    margin: 0 auto;
}

#content h2, #content h3 {
    text-align: center;
}

p.inner-text {
    display: inline;
}

div.button {
    text-align: center;
}

.project {
    margin-bottom: 40px;
    border: 1px solid #000000;
}

/* Project section */

.project-name {
    padding: 15px 0;
    background-color: #416EAB;
}

.project-name .fa-calendar-alt, .project-name p, .project-name .fa-plus-square, .project-name .fa-window-close, .project-name .fa-pencil-alt, .project-name .fa-trash-alt {
    color: #ffffff;
}

.fa-plus-square, .fa-window-close, .fa-pencil-alt, .fa-sort, .fa-trash-alt {
    cursor: pointer;
}

.project-name p {
    font-family: Verdana, serif;
    font-size: 20px;
}

.project-name .form-control-sm, .task .form-control-sm, .fa-plus-square, .fa-window-close {
    display: none;
}

/* Add task section */

.task-add {
    padding: 15px 0;
}

.task-add .fa-plus {
    color: #72A98B;
}

.task-add .input-group-text {
    cursor: pointer;
    background-color: #72A98B;
}

/* Task section */

.task {
    padding: 15px 0;
    border-top: 1px solid #000000;
}

.task p, .task .fa-plus-square, .task .fa-window-close, .task .fa-pencil-alt, .task .fa-sort, .task .fa-trash-alt {
    color: #a5a5a0;
}