<div class="project-name">
    <div>
        <i class="fas fa-calendar-alt fa-2x"></i>
        <p class="inner-text">{{ project.name|e }}</p>
        <i class="fas fa-pencil-alt fa-lg"></i>
        <i class="fas fa-trash-alt fa-lg"></i>
    </div>
</div>
<div class="task-add">
    <div>
        <i class="fas fa-plus fa-2x"></i>
        <input class="form-control-sm" type="text" placeholder="Start typing here to create a task...">
        <span class="input-group-btn">
            <button class="btn btn-info" type="button">Add Task</button>
        </span>
    </div>
</div>
