{% extends "base.html.twig" %}

{% block title %}Todo lists{% endblock %}

{% block body %}
    <div id="header">
        <p class="inner-text">Hello, {{ user.username|e }}</p>

        <a href="{{ logout_path('main') }}" class="btn btn-info">
            <span class="glyphicon glyphicon-log-out"></span> Logout
        </a>
    </div>

    <div id="content">
        <h2>SIMPLE TODO LISTS</h2>

        <h4>FROM RUBY GARAGE</h4>

        <div id="projects">
            {% for project in user.projects %}
                <div class="project">
                    <div class="project-name">
                        <div>
                            <i class="fas fa-calendar-alt fa-2x"></i>
                            <p class="inner-text">{{ project.name|e }}</p>
                            <i class="fas fa-pencil-alt fa-lg"></i>
                            <i class="fas fa-trash-alt fa-lg"></i>
                        </div>
                    </div>
                    <div class="task-add">
                        <div>
                            <i class="fas fa-plus fa-2x"></i>
                            <input class="form-control-sm" type="text" placeholder="Start typing here to create a task...">
                            <span class="input-group-btn">
                                <button class="btn btn-info" type="button">Add Task</button>
                            </span>
                        </div>
                    </div>
                    {% for task in project.tasks %}
                        <div class="task-name">
                            <div>
                                <span class="input-group-addon">
                                    <input type="checkbox">
                                </span>
                                <p class="inner-text">{{ task.name|e }}</p>
                                <i class="fas fa-sort fa-lg"></i>
                                <i class="fas fa-pencil-alt fa-lg"></i>
                                <i class="fas fa-trash-alt fa-lg"></i>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>

        <div class="button">
            <button type="button" class="btn btn-primary">
                <i class="fas fa-plus fa-2x"></i> Add TODO list
            </button>
        </div>
    </div>
{% endblock %}
