{% extends "base.html.twig" %}

{% block title %}Todo lists{% endblock %}

{% block body %}
    <div id="content">
        <h2>SIMPLE TODO LISTS</h2>

        <h4>FROM RUBY GARAGE</h4>

        <div id="projects">
            <div class="project">

                {# Project section #}
                <div class="project-name">
                    <i class="fas fa-calendar-alt"></i>
                    <p class="inner-text">Complete the test task for Ruby Garage</p>
                    <i class="fas fa-pencil-alt"></i>
                    <i class="fas fa-trash-alt"></i>
                </div>

                {# Add task section #}
                <div class="task-add">
                    <i class="fas fa-plus"></i>
                    <input class="form-control-sm" type="text" placeholder="Start typing here to create a task...">
                    <span class="input-group-btn">
                        <button class="btn btn-info" type="button">Add Task</button>
                    </span>
                </div>

                {# Tasks section #}
                <div class="task-name">
                    <span class="input-group-addon">
                        <input type="checkbox">
                    </span>
                    <p class="inner-text">Buy a milk</p>
                    <i class="fas fa-sort"></i>
                    <i class="fas fa-pencil-alt"></i>
                    <i class="fas fa-trash-alt"></i>
                </div>

                <div class="task-name">
                    <span class="input-group-addon">
                        <input type="checkbox">
                    </span>
                    <p class="inner-text">Call mam</p>
                    <i class="fas fa-sort"></i>
                    <i class="fas fa-pencil-alt"></i>
                    <i class="fas fa-trash-alt"></i>
                </div>

                <div class="task-name">
                    <span class="input-group-addon">
                        <input type="checkbox">
                    </span>
                    <p class="inner-text">Clean the room</p>
                    <i class="fas fa-sort"></i>
                    <i class="fas fa-pencil-alt"></i>
                    <i class="fas fa-trash-alt"></i>
                </div>
            </div>
        </div>

        <div class="button">
            <button type="button" class="btn btn-primary">
                <i class="fas fa-plus"></i> Add TODO list
            </button>
        </div>
    </div>
{% endblock %}
