<div data-id="{{ project.id }}" class="project">
    <div class="project-name">
        <i class="fas fa-calendar-alt fa-lg"></i>
        <p class="inline">{{ project.name|e }}</p>
        <input class="form-control-sm hidden" type="text" data-target="input" placeholder="Update project...">
        <i class="fas fa-plus-square fa-lg hidden" data-entity="project"></i>
        <i class="fa fa-window-close fa-lg hidden"></i>
        <i class="fas fa-pencil-alt fa-lg"></i>
        <i class="fas fa-trash-alt fa-lg" data-entity="project"></i>
    </div>
    <div class="task-add input-group input-group-sm">
        <i class="fas fa-plus fa-2x"></i>
        <input class="form-control" type="text" placeholder="Create a task...">
        <div class="input-group-append">
            <span class="input-group-text">Add Task</span>
        </div>
    </div>
    <div class="tasks">
    </div>
</div>